[manager]
username = "username"
password = "password"
url = "http://localhost:8081"

[confwriter]
root_dir = "/tmp/sunet-cdn-agent"
cert_dir = "/etc/letsencrypt/live"
systemd_system_dir = "/etc/systemd/system"
systemd_network_dir = "/etc/systemd/network"

[l4lb-node]
netns_conf_dir = "/opt/sunet-cdn/l4lb/conf"
