[Match]
Name=dummy0

[Network]
{{- range $orgIPContainer := $}}
{{- range $serviceIPContainer := $orgIPContainer.ServiceIPContainers}}
# OrgID: {{$orgIPContainer.ID}}, ServiceID: {{$serviceIPContainer.ID}}
{{- range $address := $serviceIPContainer.IPAddresses}}
Address={{$address}}/{{$address.BitLen}}
{{- end}}
{{- end}}
{{- end}}
